<ion-header [translucent]="true">
  <ion-toolbar color="warning" mode="ios">
    <ion-title>
      Upload Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #formulario="ngForm" (ngSubmit)="subir()">
    <ion-list>
      <ion-item>
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <ion-label>Nombre:</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="data.nombre" placeholder="Nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <ion-label>Descripción:</ion-label>
        <ion-input type="text" name="descripcion" [(ngModel)]="data.descripcion" placeholder="Descripción" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="images" slot="start"></ion-icon>
        <ion-button (click)="abrirGaleria()">
          Agregar foto
        </ion-button>
      </ion-item>

      <ion-item>
        <img [src]="imagenes">
      </ion-item>
    </ion-list>

    <ion-button shape="round" expand="full" type="submit" [disabled]="formulario.invalid">Subir</ion-button>
  </form>
  
</ion-content>

<ion-footer mode="ios">
  <!-- PIE DE PAGINA -->
  <ion-toolbar color="warning">
    <div>
      <ion-title>Realizado por Cedeño Richards</ion-title><br><br>
      <ion-label id="label">UPSE-2021</ion-label>
    </div>
  </ion-toolbar>
</ion-footer>